@charset "utf-8";
/* 
 * File:   forum_page_stylesheet.css
 * Author: Benjamin Silveston
 *
 * Created on 14 February 2014, 11:19
 * 
 * CSS Document for the forum_page.php file
 */
 
 body {
	background-image:url(../gallery/landscapes_other_locations/landscape%202%20web.jpg);
	background-position:center top;
	background-repeat:repeat-y;
}

.menu {
	background-color:#000000;
}

.menu a {
	font-family:Calibri;
	font-size:18px; 	
	color:#CCCCCC;
	text-decoration:none;
}

.user_account p {
	font-family:Calibri;
	font-size:16px;
}

.user_account a {
	font-family:Calibri;
	font-size:16px;
	font-style:italic;
	color:#000000;
}

.content_intro {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	background-color:#C9C9C9;
	border:1px solid;
	border-radius:10px;
	font-family:Calibri;
	font-size:24px;
	color:#000000;
	font-style:italic;
	outline-style:solid;
}

.contact {
	background-color:#C9C9C9;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */ 
	border:2px solid;
	border-radius:10px;
	font-family:Calibri;
	font-size:18px;
	color:#000000;
}

.footer {
	background-color:#C9C9C9;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */ 
	border:2px solid;
	border-radius:10px;
	font-family:Calibri;
	font-size:14px;
	color:#000000;
}

#forum_page_link {
	color:#009900;
}

#copyright {
	background-color:#C9C9C9;
	border-radius:10px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	z-index:-1;
	font-family:Calibri;
	font-size:14px;
	color:#000000;
}

#credits {
	font-family:Calibri;
	font-size:14px;
	color:#000000;
}