@charset "utf-8";
/* 
 * File:   user_sign_in_page_stylesheet.css
 * Author: Benjamin Silveston
 *
 * Created on 06 January 2014, 10:31
 * 
 * CSS Document for the user_sign_in_page.html and user_sign_in_page.php files
 */

body {
	background-image:url(../gallery/landscapes_other_locations/landscape%202%20web.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}

.header {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	background-color:#C9C9C9;
	border:1px solid;
	border-radius:10px;
	font-family:Calibri;
	font-size:24px;
	color:#000000;
	font-style:italic;
	outline-style:solid;	
}

.header h3 {
	font-family:Calibri;
	font-size:24px;
	font-style:italic;
	color:#000000;
}

.menu {
	background-color:#000000;
}

.menu a {
	font-family:Calibri;
	font-size:18px; 	
	color:#CCCCCC;
	text-decoration:none;
}

.form_area {
	background-color:#C9C9C9;
	border:1px solid;
	border-radius:10px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	z-index:-1;
	padding-bottom:10px; 	
}

.footer {
	background-color:#C9C9C9;
	border:1px solid;
	border-radius:10px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	z-index:-1;
	padding-bottom:10px; 			
}

.sign_in_form {
	font-family:Calibri;
	font-size:18px;
	font-style:italic;
	color:#000000;
}

.register_page_link_area {
	background-color:#C9C9C9;
	border:1px solid;
	border-radius:10px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	z-index:-1;
	padding-bottom:10px; 			
}

#sign_in_page_info {
	font-family:Calibri;
	font-size:18px;
	color:#000000;
}

#register_page_info {
	font-family:Calibri;
	font-size:18px;
	color:#000000;
}

#register_page_link {
	font-family:Calibri;
	font-size:18px;
	color:#000000;
}

#copyright {
	background-color:#C9C9C9;
	border-radius:10px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	z-index:-1;
	font-family:Calibri;
	font-size:14px;
	color:#000000;
}

#credits {
	font-family:Calibri;
	font-size:14px;
	color:#000000;
}